{{#each blog as |blog| }}
<div class="row align-center mb-5">
  <div class="col-md-6">
    <h2>{{{get_emoji}}} 
      <a href="/views/homepage.handlebars"</a> </h2>
    <p>Created by {{blog.user.name}} on {{format_date blog.date_created}}</p>
  </div>
  <div class="col-md-6">
    <p>{{blog.contents]}</p>
  </div>
</div>
{{/each}}

